body {
  background-color: #0e0e0e;
}
:root {
  --overlay-1: rgba(0, 0, 0, 0.4);
  --overlay-2: rgba(154, 48, 44, 0.7);
}
.home-page {
  height: 100vh;
  background-image: url("img/titlebg1.jpg");
  background-size: cover;
}
.overlay {
  background-color: var(--overlay-1);
}
header {
  height: 80px;
}
.content-area-1 {
  height: calc(100vh - 80px);
}
@font-face {
  font-family: myFirstFont;
  src: url("fonts/alsscrp.ttf");
}
.curs-1 {
  font-family: myFirstFont;
  font-weight: 800;
}
.s1 {
  display: block;
  height: 60px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 20px;
}
.about-page {
  height: 100vh;
}
.img-box-2 {
  height: 100%;
  background-image: url("img/ab1.jpg");
  background-size: cover;
}
.img-box-3 {
  height: 100%;
  background-image: url("img/ab2.jpg");
  background-size: cover;
}
.text-box {
  background-color: #ffffff;
}
.menu {
  height: 50vh;
  background-image: url("img/menu.jpg");
  background-size: cover;
}
.overlay-1 {
  background-color: var(--overlay-2);
}
.gallery {
  height: 100vh;
  background-color: #ffffff;
}
.gal-img {
  height: 100%;
}
.im-1 {
  background-image: url("img/titlebg.jpg");
  background-size: cover;
}
.im-2 {
  background-image: url("img/t2.jpg");
  background-size: cover;
}
.im-3 {
  background-image: url("img/t3.jpg");
  background-size: cover;
}
.im-4 {
  background-image: url("img/t4.jpg");
  background-size: cover;
}
.footer {
  height: 50vh;
  background-color: #1d1d1d;
}
a {
  text-decoration: none;
  color: white;
}
